/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

container {
	width: 900px;
	text-align: center;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 20px;
}

section,
header,
footer,
container {
	display: block;
	margin: auto;
}

header {
	display: block;
	height: 70px;
}

nav {
	width: 900px;
	position: fixed;
	background: linear-gradient(to bottom, #0066cc, white);
	text-align: center;
	height: 7%;
	/* Added 3 flexbox properties and values in accordance to UI-III-flexbox project */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

nav * {
	color: black;
	margin: 0 3%;
	text-decoration: none;
	margin: 0;
}

/* Begin section sloganSection */
.sloganSection {
	display: flex;
	/* Added this line to align sloganSection stuff */
	justify-content: center;
	align-items: center;
}

.sloganSection textSection,
.sloganSection imgSection {
	/* display: inline-block; */
	/*No longer needed by adding display:flex to parent sloganSection*/
	text-align: center;
	margin: 5%;
}

.sloganSection textSection {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.button {
	border: solid 1px black;
	color: black;
	width: 150px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
	background: grey;
}

/* End section sloganSection */

/*Begin section contentStuff */

.contentStuff {
	border-top: solid black 2px;
	border-bottom: solid black 1px;
	padding: 2% 0;
	margin: 2% 0;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.content1,
.content2,
.content3 {
	/* display:inline-block; */
	/*No longer needed by adding display:flex to these classes */
	padding: 2% 0;
	width: 100%;
	display: flex;
	/* added this line align ALL items within these classes */
	justify-content: space-between;
}

.contentStuff .content1 section {
	text-align: left;
	/* display: inline-block; */
	/*No longer needed because display:flex was added to parent class*/
	width: 49.8%;
}

.contentStuff img {
	width: 100%;
}

.contentStuff .content3 section {
	text-align: left;
	/* display: inline-block; */
	/*No longer needed because display:flex was added to parent class*/
	margin: 0;
	width: 32%;
}

/* End section contentStuff */

/* Begin section contactSection */

.contactSection {
	/*anything added in this section WILL flex below the contact information */
	padding: 2% 0;
	display: flex;
	text-align: left;
	flex-direction: column;
}

/* End section contactSection */

/* Begin section footer */

footer {
	margin-top: 2%;
}

footer div {
	text-align: center;
	padding: 4% 0;
	background: linear-gradient(to top, #0066cc, white);
}

/* End section footer */

/* End index.html specific CSS */

/* Begins the services.html specific CSS */

.servicesSloganSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.servicesSloganSection imgSection,
.services-header-img {
	width: 100%;
}

.servicesSloganSection textSection {
	text-align: left;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2% 0;
}

.servicesContentStuff {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	border-top: solid black 2px;
	border-bottom: solid black 1px;
	padding: 2% 0;
	margin: 2% 0;
}

.servicesContentStuff div {
	text-align: left;
	margin: 2% 0;
	padding: 3%;
	width: 48%;
	border: solid black 1px;
	display: flex;
	flex-direction: column;
	align-content: space-evenly;
	background: lightgrey;
}

.servicesContentStuff h4,
.servicesContentStuff p,
.servicesContentStuff a {
	margin: 2%;
}

.facts {
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.facts div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2% 0;
	width: 48%;
}

.services-info-img {
	width: 100%;
}